* {
  margin: 0;
  padding: 0;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  background-color: rgb(233, 79, 79);
  border-bottom: solid 4px black;

  padding: 20px 10px 30px 10px;
}

h1 {
  color: rgb(224, 196, 37);
  font-size: 65px;

  text-shadow:/* first layer at 1px */ -1px -1px 0px blue, 0px -1px 0px blue,
    1px -1px 0px blue, -1px 0px 0px blue, 1px 0px 0px blue, -1px 1px 0px blue,
    0px 1px 0px blue, 1px 1px 0px blue,
    /* second layer at 2px */ -2px -2px 0px blue, -1px -2px 0px blue,
    0px -2px 0px blue, 1px -2px 0px blue, 2px -2px 0px blue, 2px -1px 0px blue,
    2px 0px 0px blue, 2px 1px 0px blue, 2px 2px 0px blue, 1px 2px 0px blue,
    0px 2px 0px blue, -1px 2px 0px blue, -2px 2px 0px blue, -2px 1px 0px blue,
    -2px 0px 0px blue, -2px -1px 0px blue;
}

h3 {
  color: rgb(233, 206, 56);
  font-size: 20px;

  text-shadow:/* first layer at 1px */ -1px -1px 0px blue, 0px -1px 0px blue,
    1px -1px 0px blue, -1px 0px 0px blue, 1px 0px 0px blue, -1px 1px 0px blue,
    0px 1px 0px blue, 1px 1px 0px blue,
    /* second layer at 2px */ -2px -2px 0px blue, -1px -2px 0px blue,
    0px -2px 0px blue, 1px -2px 0px blue, 2px -2px 0px blue, 2px -1px 0px blue,
    2px 0px 0px blue, 2px 1px 0px blue, 2px 2px 0px blue, 1px 2px 0px blue,
    0px 2px 0px blue, -1px 2px 0px blue, -2px 2px 0px blue, -2px 1px 0px blue,
    -2px 0px 0px blue, -2px -1px 0px blue;
}

h4 {
  margin: 15px 20px 30px 20px;
}

#container {
  padding: 0px 20px 0px 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

#box-1 {
  min-height: 60%;
}

#input-box {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#input-box2 {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#input-box3 {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#input-box4 {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#input-box5 {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#input-box6 {
  padding: 5px 5px 5x 5px;
  margin: 30px 20px 30px 20px;
}

#output-box {
  border: solid 4px black;
  margin: 10px 20px 10px 20px;
}

#container img {
  height: 80px;
}

#container img:hover {
  cursor: pointer;
  height: 85px;
}

#aside-border {
  float: right;

  border: dashed 4px black;
  margin: 10px 20px 10px 20px;
  padding: 10px 20px 10px 20px;

  min-width: 20%;
  height: 100%;

  display: grid;
  gap: 40px 0px;
}

#aside-border img {
  height: 80px;
}

.aside-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.team1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.team2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.team3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.team4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

a {
  color: rgb(155, 211, 117);
  text-decoration: none;
}

a:hover {
  color: rgb(191, 221, 171);
}

footer {
  font-size: 20px;
  background-color: rgb(25, 68, 33);
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
